    {% extends 'shop/base.html' %}
    {% block content %}
    <div class="section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <img src="{{ product.image.url }}" alt="" style="height:300px">
                </div>
            
            <div class="col-md-6">
                <div class="card-title">{{ product.title }}</div>
                        
                <div  class="card-price">{{ product.price }} &#8377</div>
                 
                <form action="/order/addtoshopcart/{{ product.id }}" method="post">
                        {% csrf_token %}
                        <div class="row">
                    <div class="qty-input">
                        
                        <span class="text-uppercase"></span>
                        <input  name="quantity" type="number" value="1" min="1" max="{{ product.Quantity }}">
                                         
                    </div>
                    <div><button type="submit" class="btn btn-secondary" >Add</button> </div> 
                </div>
                    
                </form>

              
            </div>
            </div>
            
        </div>
    {% endblock %}